BOT_TOKEN="123:qwe"
PORT=3002
CRM_TOKEN="qwe"
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465              
SMTP_SECURE=true           
SMTP_USER=your-login@yandex.ru
SMTP_PASS=твой_пароль_приложения
EMAIL_FROM="Server Errors" <myapp@yandex.ru>
EMAIL_ERROR_TO=admin@yourdomain.com